.input_block {
  position: relative;
  align-self: flex-end;

  & svg {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 10px;
    left: 18px;
  }

  @media (min-width: 320px) and (max-width: 768px) {
    & {
      width: 280px;
      align-self: center;
    }

    .search_input {
      width: 280px;
    }
  }
}

.search_input {
  width: 336px;
  height: 36px;
  padding-left: 48px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  background-color: #1a1818;
  color: #575757;
  border-radius: 4px;
  outline: none;

  &.light {
    color: #9c9c9c;
    background-color: #ffffff;
    border: 1px solid #dedede;
  }

  &:focus {
    border: 2px solid #dedede;
  }

  &:focus.light {
    border: 2px solid #575757;
  }
}
